:root {
  --background: #F6F1E7;
  --foreground: #0a0a0a;
  --title-color: #B6495A;
  --text-color: #5A4534;
  --hover-color: #C76B6B;
  --active-color: #A03F4A;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  color-scheme: dark;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

span, p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
