.snowfall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.main {
  padding: 2rem;
  text-align: center;
}

.christmas-title {
  color: var(--title-color);
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.christmas-title .letter-c {
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.christmas-title .letter-c .hat {
  position: absolute;
  top: -29px;
  left: -45px;
  height: auto;
  pointer-events: none;
}

.greeting {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.highlight {
  color: var(--title-color);
  font-weight: bold;
}